@use '../css/mixin.scss' as mixin;

footer {
    background-color: mixin.$bg-main;
    box-shadow: 0 -3px 9px rgba(51, 51, 51, 0.5);
    color: #FFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 70px;
}

@media (min-width: 992px) {
    footer {
        height: 80px;
    }
}

@media (min-width: 1400px) {
    footer {
        height:100px;
    }
}