@use '../css/mixin.scss' as mixin;

header {
    background-color: mixin.$bg-main;
    box-shadow: 0 3px 9px rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    height: 70px;    
    .navbarBrand img {
        width: 60px;
    }   
}

@media (max-width: 991px) {
    .navbar {
        .navbarToggler {
            background-color: transparent;
            border: none;
            padding: 12px;
            i {
                color: #FFF;
                font-size: 28px;
            }
        }
    
        .navbarNav {
            position: fixed;
            display: block;
            margin-top: 70px;
            top: 0;
            right: -330px;
            width: 320px;
            background-color: mixin.$bg-main;
            box-shadow: -10px 0px 8px -8px rgba(51, 51, 51, 0.5);
            border-top: 1px solid mixin.$bg-light;
            transition: all 0.2s;
            opacity: 0;         
            &.open {
                right: 0px;
                opacity: 1;
            }
        }
        
        .navbarLinks {
            list-style: none;
            height: 100vh;
            li {
                border-bottom: 1px solid mixin.$bg-light;
                button, a {
                    color: #FFF;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    height: 56px;
                    padding: 0 25px;
                    text-transform: uppercase;
                    font-size: 18px;         
                    background-color: transparent;
                    border: none;       
                }
                button:hover, a:hover {
                    background-color: mixin.$site-color;
                }
                a[aria-current="page"] {
                    background-color: mixin.$site-color;
                } 
            }
        }
    }
}

@media (min-width: 992px) {
    .navbar {
        height: 80px;

        .navbarBrand img {
            width: 70px;
        }   

        .navbarToggler {
            display: none;
        }
           
        .navbarLinks {
            list-style: none;
            display: flex;
            align-items: center;
            li {
                padding: 0 2px;
                a {
                    color: #FFF;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 18px;   
                    padding: 10px 20px;     
                    font-weight: 500;
                    letter-spacing: 1px;
                }
                a:hover {
                    background-color: mixin.$hover-color;
                }
                a[aria-current="page"] {
                    background-color: mixin.$site-color;
                } 
            }
        }
    }
}    

@media (min-width: 1400px) {
    .navbar {
        height: 100px;

        .navbarBrand img {
            width: 90px;
        }   

           
        .navbarLinks {
            li {
                padding: 0 4px;
                a {
                    font-size: 22px;   
                    padding: 16px 24px;     
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    .navbar {
        height: 120px;

        .navbarBrand img {
            width: 110px;
        }   

           
        .navbarLinks {
            li {
                padding: 0 6px;
                a {
                    font-size: 24px;   
                    padding: 18px 26px;     
                }
            }
        }
    }
}

